
<!--<img src="../img/blog.png" alt="블로그" class="icon-img blog-icon">-->

  <div class="logo-box">
    <a href=""><img src="../img/Logo-fin.svg" alt="HODU" class="logo-img"></a>
  </div>
  <div class="icon-box">
    <a href=""><span>b</span></a>
    <a href=""><img src="../img/icon-insta.png" alt="인스타그램" class="icon-img"></a>
    <a href=""><img src="../img/icon-facebook.png" alt="페이스북" class="icon-img"></a>
    <a href=""><img src="../img/icon-youtube.png" alt="유튜브" class="icon-img"></a>
  </div>

