

<section id="Heading">
  <div class="Heading-content">
    <div>
     <h2>Lorem Ipsum is simply<br/>  dummy text of the printing and</h2>
    </div>
    <div>
      <p>
        Lorem Ipsum is simply dummy text of the printing and<br/>
        Lorem Ipsum has been the industry's standard dummy text<br/>
        ever since the 1500s, when an unknown
      </p>
    </div>
    <a href="#" class="download-button">Download</a>
  </div>
  <div class="Heading-image">
    <img src="../img/고양이%201.png" alt="머리에 박스를 쓴 고양이">
  </div>
</section>

<section id="introduce">
    <img src="../img/img_4.png" class="introduce-image" alt="침대에 누워있는 고양이">
  <div class="introduce-contents">
    <h2>Lorem Ipsum is simply <br/>
      dummy text of the printing and dummy text</h2>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
  </div>
</section>

<section id="gallery">
  <h2>dummy text of the printing and dummy</h2>
  <p>Lorem Ipsum is simply <span>dummy text</span> of the printing and typesetting industry.<br/>
    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown</p>
  <div class="gallery-grid">
    <div class="image-item"><img src="../img/img_1%20(1).png" alt=""></div>
    <div class="image-item"><img src="../img/img_2%20(1).png" alt=""></div>
    <div class="image-item"><img src="../img/img_3%20(1).png" alt=""></div>
    <div class="image-item"><img src="../img/img_1.png" alt=""></div>
    <div class="image-item"><img src="../img/img_2.png" alt=""></div>
    <div class="image-item"><img src="../img/img_3.png" alt=""></div>
  </div>

  <div class="show-more">
    <h3>Continue exploring HODU</h3>
    <a href="#" class="download-button show-more-btn" >Show more</a>
  </div>
</section>

<hr />

<section id="location" class="container">
  <h2>Where you'll be</h2>
  <p>330, Cheomdan-ro, Jeju-si, Jeju-do, Republic of Korea</p>
  <div id="map">

  </div>
</section>


  <dialog id="modal">

      <img src="../img/cat%201.png">
      <h2>Thank you!</h2>
      <p>Lorem Ipsum is simply dummy text of the printing industry. </p>
      <button class="download-button" onclick="closeModal();">OK! I Love HODU</button>

  </dialog>



<section id="subscribe" class="container">
  <div class="subscribe-box">
    <div class="subscribe-content">
      <h2>Subscribe to our Blog post</h2>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        Lorem Ipsum has been the industry's standard dummy text </p>
    </div>
    <div>
    </div>
    <form name="subscription_frm" class="subscription-form">
      <div class="input-container">
        <img src="../img/mail.svg" alt="메일 아이콘">
        <input type="email" name="email" placeholder="Enter your e-mail address" required>
        <button type="submit">Subscribe</button>
      </div>
    </form>
  </div>
</section>
<!--<div class="background-cat">-->
<!--<img src="../img/img_5.png" class="background-cat" alt="하늘을 쳐다보는 고양이" >-->
<!--</div>-->
<div class="background-cat-div">
  <img src="../img/img_5.png" class="background-cat" alt="하늘을 쳐다보는 고양이" >
</div>
